/* Home.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.description {
  max-width: 600px;
  text-align: center;
  margin-bottom: 2rem;
}

.description h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.center img {
  width: 8em;
  color: white;
}
.center {
  margin-top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #f0c5e0, #f7c7a1, #c4effa);
  /* opacity: 50%; */
  border-radius: 50%;
  content: '';
  width: 150px;
  height: 150px;
  z-index: -1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.col {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 1em;
  flex: 1 0 0;
}

.col img {
  max-width: 50%;
}

.card {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #fefdfe, #dbdcdc);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
}

a.card {
  color: #686a6b;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

a.card:hover {
  color: #ff6f00;
}
